<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student data</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/result" method="post">
    <p> Name <input type="text" name="name" placeholder="Enter your name"> </p>
    <p> Physics <input type="text" name="Physics" placeholder="Enter your Physics mark"> </p>
    <p> Chemistry <input type="text" name="Chemistry" placeholder="Enter your Chemistry mark"> </p>
    <p> Maths <input type="text" name="Maths" placeholder="Enter your Maths mark"> </p>
    <p><input type="submit" value="submit"/></p>
</body>
</html>